<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
 <head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <title>Заявка на бронирование столика</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>
</html>

<body>

<table>
    <tr>
        <th></th>
        <th></th>
    </tr>

    <tr>
        <td>Имя:</td>
        <td>{{ name }}</td>
    </tr>

    <tr>
        <td>Телефон:</td>
        <td>{{ phone }}</td>
    </tr>

        <tr>
        <td>Количество гостей:</td>
        <td>{{ guests }}</td>
    </tr>

     <tr>
        <td>Сообщение:</td>
        <td>{{ message }}</td>
    </tr>

</table>

</body>